// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.background {
    background-image: url('/assets/background/headerbg.png') ; 
    background-repeat: no-repeat ;
    background-size: 100% 50%;
  }

.main-text {
    color: white;
    font-size: -webkit-xxx-large;
    font-weight: 900;
    height: 30%;
    line-height: 4em; 
    font-style: italic;
  }

  .footer-background {
    background-image: url('/assets/background/menu-bg-img.jpg');
    height: 10vh;
    background-size: 100%;
    padding-bottom: 16vh;
    background-repeat: no-repeat;
  }
  
  .backcolor {
   background-color: color($colors,cbackground) !important
  }

 